$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$font-stackl:'IBM Plex Sans', sans-serif;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: $font-stackl;
}

nav{
    background-color: $primary-color;
    width: 100%;
    height: 300px;
}



footer{
    $background: #fa9500;
    background-color: $background;
    width: 100%;
    height: 250px;
    
}
